services:
  app:
    image: localhost/aima:latest
    build: .
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./code:/app
      - ./data:/data
    ports:
      - ${PORT:-8000}:8000
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_VECTORSTORE_ID=${OPENAI_VECTORSTORE_ID}
      - DATA_DIR_UPDATED=${DATA_DIR_UPDATED}
      - USE_OPENAI_VECTORSTORE=${USE_OPENAI_VECTORSTORE}
