services:
  app:
    image: localhost/aima:latest
    build: .
    volumes:
      - ./code:/app
      - ./data:/data
    ports:
      - ${PORT:-8000}:8000
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
