services:
  app:
    image: localhost/ubi:latest
    build: .
    volumes:
      - /etc/localtime:/etc/localtime:ro
      #- ./code:/app
      - ./data:/data
    ports:
      - ${PORT:-8000}:8000
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_VECTORSTORE_ID=${OPENAI_VECTORSTORE_ID}
      - USE_OPENAI_VECTORSTORE=${USE_OPENAI_VECTORSTORE}
      - ROUTER_MODEL=${ROUTER_MODEL}
      - CHAT_MODEL=${CHAT_MODEL}
      - DELETE_BACKUPS_AFTER=${DELETE_BACKUPS_AFTER}
      - QUIET_MODE=${QUIET_MODE}
    restart: unless-stopped
