OPENAI_API_KEY=sk-
USE_OPENAI_VECTORSTORE='False' # Enable ('True') or disable ('False') OpenAI vectorstore usage
DEBUG='False' # Enable to print debugging messages to CLI
ROUTER_MODEL=gpt-4.1-nano-2025-04-14
CHAT_MODEL=gpt-4o-mini-2024-07-18
