OPENAI_API_KEY=sk-
USE_OPENAI_VECTORSTORE='False' # Enable ('True') or disable ('False') OpenAI vectorstore usage
ROUTER_MODEL=gpt-4.1-nano-2025-04-14
CHAT_MODEL=gpt-4.1-mini-2025-04-14
DELETE_BACKUPS_AFTER=7 # in days; Delete backups of /data/markdown and /data/markdown_processed after 7 days
QUIET_MODE='False' # enable to suppress all non-error messages and progress bars in CLI
