aiosqlite~=0.21.0
beautifulsoup4~=4.13.5
chainlit~=2.9.6
chromadb~=1.0.20
fastapi~=0.116.2
feedparser~=6.0.11
langchain~=0.3.27
langchain_chroma~=0.2.5
langchain_community~=0.3.29
langchain_core~=0.3.75
langchain_openai~=0.3.32
markdown~=3.8.2
plotly~=6.3
Requests~=2.32.5
tqdm~=4.67.1
unstructured~=0.18.4
json-repair~=0.50.0
wheel~=0.45.1
mdformat~=0.7.22
