aiosqlite~=0.22.1
beautifulsoup4~=4.14.3
chainlit~=2.11.0
chromadb~=1.5.8
fastapi~=0.135.3
feedparser~=6.0.12
langchain~=1.2.15
langchain-chroma~=1.1.0
langchain-community~=0.4.1
langchain-core~=1.2.31
langchain-openai~=1.1.14
Markdown~=3.10.2
mdformat~=1.0.0
plotly~=6.7.0
Requests~=2.33.1
tqdm~=4.67.3
unstructured~=0.18.32
json-repair~=0.58.7
wheel~=0.46.3
